<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Launcher.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Launcher.Settings1>
            <setting name="baseURL" serializeAs="String">
                <value>http://192.168.1.6</value>
            </setting>
            <setting name="readme_patcher" serializeAs="String">
                <value>http://www.twedev.com/game/patcher/PATCHER_README.pdf</value>
            </setting>
            <setting name="libeay" serializeAs="String">
                <value>http://www.twedev.com/game/patcher/libeay32.dll</value>
            </setting>
            <setting name="libmysql" serializeAs="String">
                <value>http://www.twedev.com/game/patcher/libmysql.dll</value>
            </setting>
            <setting name="libssl" serializeAs="String">
                <value>http://www.twedev.com/game/patcher/libssl32.dll</value>
            </setting>
            <setting name="ssleay" serializeAs="String">
                <value>http://www.twedev.com/game/patcher/ssleay32.dll</value>
            </setting>
            <setting name="connection_patcher" serializeAs="String">
                <value>http://www.twedev.com/game/patcher/connection_patcher.exe</value>
            </setting>
            <setting name="config" serializeAs="String">
                <value>http://www.twedev.com/game/patcher/WTF/Config.wtf</value>
            </setting>
        </Launcher.Settings1>
    </userSettings>
</configuration>